services:
    web:
        build: .
        user: "1000:1000"
        ports:
            - "8080:80"
        volumes:
            - ./www:/var/www/html

    db:
        image: mysql:9.2.0
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: database
            MYSQL_USER: user
            MYSQL_PASSWORD: password
        volumes:
            - mysqlvolume:/var/lib/mysql

    phpmyadmin:
        image: phpmyadmin
        ports:
            - "8081:80"
        environment:
            PMA_HOST: db
            MYSQL_ROOT_PASSWORD: root

volumes:
    mysqlvolume:
        driver: local
