services:
    web:
        image: php:8.2-apache
        user: "1000:1000"
        ports:
            - "8080:80"
        volumes:
            - ./www:/var/www/html

    db:
        image: mysql:9.2.0
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: database
            MYSQL_USER: user
            MYSQL_PASSWORD: password
        volumes:
            - mysqlvolume:/var/lib/mysql

volumes:
    mysqlvolume:
        driver: local
