body {
    font-family: Arial, sans-serif;
    margin: 5px;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

header input[type="text"] {
    padding: 3px;
    font-size: 15px;
    margin-left: 10px;
}

button {
    padding: 3px 7px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
}

select {
    padding: 3px;
    font-size: 16px;
}

form {
    width: fit-content;
}

img {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 160px;
    height: auto;
}

.lesson {
    border: 1px solid #ccc;
    padding: 3px;
    margin: 2px 0;
    background-color: #f9f9f9;
    flex: 1;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lesson p {
    margin: 1px 0;
    font-size: 14px;
    text-align: center;

}

.lesson h2 {
    font-size: 16px;
    margin: 0;
    text-align: center;
}

.time-slot {
    text-align: center;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    background-color: #006468ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-label {
    text-align: center;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    background-color: #006468ff;
    color: white;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lessons-cell {
    background-color: #e0f7fa;
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#timetable {
    display: grid;
    grid-template-columns: 40px repeat(11, minmax(120px, 350px));
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 5px;
}

#timetable>p {
    text-align: center;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    background-color: #006468ff;
    color: white;
}

#timetable>div {
    background-color: #e0f7fa;
    padding: 2px;
    min-height: 80px;
}